<h1>Componente de Deportes</h1>
<hr />
<!-- --------------Usando el ngStyle para cambiar los estilos dependiendo de las condiciones que deba llevar-------------------- -->
<h2>Estilos con ngStyle</h2>
<ul>
  <li
    *ngFor="let num of numeros"
    [style.color]="num % 2 == 0 ? 'darkgreen' : 'darkred'"
  >
    {{ num }}
  </li>
</ul>
<hr />

<!-- --------------Usando las clases directamente para cambiar los estilos dependiendo de las condiciones que deba llevar-------------------- -->
<h2>Estilos con class forma 1</h2>
<ul>
  <li
    *ngFor="let num of numeros"
    [class.estiloPar]="num % 2 == 0"
    [class.estiloImpar]="num % 2 == 1"
  >
    {{ num }}
  </li>
</ul>
<hr />

<!-- --------------Usando el ngClass para cambiar los estilos dependiendo de las condiciones que deba llevar-------------------- -->
<h2>Estilos con class forma 2</h2>
<ul>
  <li
    *ngFor="let num of numeros"
    [ngClass]="{ estiloPar: num % 2 == 0, estiloImpar: num % 2 == 1 }"
  >
    {{ num }}
  </li>
</ul>
<hr />

<!-- ----------------------------------------------Directiva de IF--------------------------------------------------- -->
<h2>Número de Deportes: {{ sports.length }}</h2>
<div *ngIf="sports.length <= 7; then condicionTrue; else condicionElse"></div>

<ng-template #condicionElse>
  <h2 style="color: lightblue">Tenemos MAS de 7 deportes</h2>
</ng-template>

<ng-template #condicionTrue>
  <h2 style="color: darkgreen">Tenemos MENOS de 7 deportes</h2>
</ng-template>
<!-- ----------------------------------------Bucle para mostrar todos los deportes en una lista----------------------------------------- -->
<h4 style="color: mediumpurple">El primer deporte es: {{ sports[0] }}</h4>

<ul>
  <li *ngFor="let sport of sports; let i = index">
    Posicion: {{ i }} , Deporte: {{ sport }}
  </li>
</ul>
<hr />
<hr />
