<div class="row justify-content-center mt-5">
  <div
    class="col-4 rounded-3"
    style="
      background-color: lightyellow;
      border: solid 3px darkorange;
      color: darkorange;
    "
  >
    <form
      #modificarForm="ngForm"
      (ngSubmit)="modificarDepartamento()"
      class="text-center p-4 fw-bold"
    >
      <div class="mb-3">
        <h3>MODIFICAR</h3>
      </div>
      <div class="mb-3">
        <label class="form-label">Número:</label>
        <input
          class="form-control"
          type="text"
          placeholder="introduzca el numero"
          name="number"
          #numeroCaja
          [(ngModel)]="numero"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Nombre:</label>
        <input
          class="form-control"
          type="text"
          placeholder="introduzca el nombre"
          name="name"
          #nombreCaja
          [(ngModel)]="nombre"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Localidad:</label>
        <input
          class="form-control"
          type="text"
          placeholder="introduzca la localidad"
          name="localidad"
          #localidadCaja
          [(ngModel)]="localidad"
        />
      </div>

      <button class="btn btn-outline-warning" type="submit">Modificar</button>
    </form>
  </div>
</div>
