<div *ngIf="serie">
    <div class="mt-5 row justify-content-center">
        <div class="card col-8 p-0">
            <div class="row justify-content-center">
                <img src="{{ serie.imagen }}" class="card-img-top" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title ">{{serie.nombre}}</h5>
                <p>Puntuacion: {{serie.puntuacion}}</p>
                <p>Año: {{serie.anyo}}</p>
                <a [routerLink]="['/personajes',serie.idSerie]" class="btn btn-outline-success">
                    Personajes
                </a>
            </div>
        </div>
    </div>
</div>