<h1 class="text-center">DEPARTAMENTOS</h1>

<div class="row justify-content-center mt-5">
  <div class="col-8 text-center">
    <table
      class="
        table table-striped table-hover table-responsive table-bordered
        border-dark
      "
    >
      <thead class="fw-bold" style="background-color: purple; color: white">
        <tr>
          <td>numero</td>
          <td>nombre</td>
          <td>localidad</td>
          <td>Accion</td>
        </tr>
      </thead>
      <tbody class="table-info table-bordered border-dark">
        <tr *ngFor="let dept of departamentos">
          <td>{{ dept.numero }}</td>
          <td>{{ dept.nombre }}</td>
          <td>{{ dept.localidad }}</td>
          <td>
            <a
              [routerLink]="[
                '/modificar',
                dept.numero,
                dept.nombre,
                dept.localidad
              ]"
              class="btn btn-outline-warning"
              >Modificar</a
            >
            <a
              [routerLink]="['/eliminar', dept.numero]"
              class="btn btn-outline-danger"
              >Eliminar RUTA</a
            >
            <form #eliminarForm="ngForm">
              <button
                (click)="eliminarDepartamento()"
                class="btn btn-outline-danger"
                name="boton"
                #boton
                [(ngModel)]="id"
              >
                Eliminar BTN
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
