<h1 class="text-center">Detalles del Empleado</h1>
<br />
<hr />
<h1 class="text-center">CARTA</h1>
<div *ngIf="empleado" class="row justify-content-center">
  <div class="col-4">
    <div class="card mb-3 m-2 text-center">
      <div class="row g-0">
        <div class="card-header">
          <h5 class="card-title">{{ empleado.apellido }}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Oficio: {{ empleado.oficio }}</p>
          <p class="card-text">Salario: {{ empleado.salario }}</p>
          <p class="card-text">Departamento: {{ empleado.departamento }}</p>
          <a [routerLink]="['/listadoEmpleados']" class="btn btn-outline-danger"
            >Volver</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<hr />
<h1 class="text-center">COMO LISTA DE SUBELEMENTOS</h1>
<br />
<dl *ngIf="empleado">
  <dt>{{ empleado.apellido }}</dt>
  <dd>Oficio: {{ empleado.oficio }}</dd>
  <dd>Salario: {{ empleado.salario }}</dd>
  <dd>Departamento: {{ empleado.departamento }}</dd>
</dl>
