<div class="row justify-content-center mt-5">
  <div
    class="col-4 rounded-3"
    style="
      background-color: lightgreen;
      border: solid 3px darkgreen;
      color: darkgreen;
    "
  >
    <form #formInsertar="ngForm" class="text-center p-4 fw-bold">
      <div class="mb-3">
        <h3>INSERTAR EQUIPO</h3>
      </div>
      <div class="mb-3">
        <label class="form-label">Nombre:</label>
        <input
          class="form-control"
          type="text"
          placeholder="introduzca nombre"
          name="nombre"
          #nombreCaja
          [(ngModel)]="nombre"
        />
      </div>

      <button class="btn btn-outline-success" type="button">Insertar</button>
    </form>
  </div>
</div>
