<div class="row justify-content-center mt-5">
    <div class="col-4 rounded-3"
        style="background-color: lightyellow; border: solid 3px darkorange; color: darkorange;">
        <form #modificarForm="ngForm" (ngSubmit)="modificar()" class="text-center p-4 fw-bold">

            <div class="mb-3">
                <h3>MODIFICAR PERSONAJE</h3>
            </div>

            <div class="mb-3">
                <label class="form-label">Personajes:</label>
                <select class="form-control" name="personajeId" #selectPersonaje [(ngModel)]="idPersonaje">
                    <option *ngFor="let personaje of personajes" value="{{personaje.idPersonaje}}">{{personaje.nombre}}
                    </option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Series:</label>
                <select class="form-control" name="serieId" #selectSerie [(ngModel)]="idSerie">
                    <option *ngFor="let serie of series" value="{{serie.idSerie}}">{{serie.nombre}}</option>
                </select>
            </div>

            <button class="btn btn-outline-warning" type="submit">Modificar</button>

        </form>
    </div>
</div>